{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

   <title>Blog app</title>
</head>
<body>
   <div class="container">
      <h2>POST LISTS</h2>
      <div>
         {%for post in posts%}
            <a href="{% url 'details' id=post.id %}"><h3>{{post.title}}</h3></a>
            <p>{{post.text}}</p>
            <p>{{post.created_date}}</p>
         {%endfor%}
      </div>
   </div>
</body>
</html>
